\documentclass[11pt]{article}
\usepackage{../include/mydefault}

\addbibresource{references.bib}

% Document metadata
\title{<%= title %>}
\author{<%= author %>}
\date{<%= date %>}

\begin{document}
  \sloppy
  \maketitle

\printbibliography

\appendix

\end{document}
